node_modules
dist
.DS_Store
.env
out
build
renders
./.vscode/
.dockerignore
./public/templates/advertising/
./public/templates/educational/
./public/templates/nutrition/
./public/templates/tech/
./public/templates/tourism/